body{
    overflow: hidden;
}

header{
    height: 50px;
    border-bottom: black 2px solid;
}

ul{
    text-align: left;
}

.footer{
    position: absolute;
    display: flex;
    width: 100%;
    top: 90%;
    left: 2%;
    font-size: 16px;
}

.btn-showChangelog{
    position: relative;
    top: 20px;
    left: 80%;
    height: 30px;
    border: none;
    background-color: #6495ED;
    color: white;
    outline: none;
}

.btn-showChangelog:active{
    background-color: #4567a4;
}

.div-newEmblem{
    margin-left: 40%;
    position: relative;
    top: 8px;
    cursor: pointer;
}

#searchByTags{
    position: relative;
    height: 100%;
    margin-top: 20px;
    padding-left: 5px;
}
#button-search{
    margin-top: 5px;
    height: 30px;
    width: 30px;
    position: relative;
    background: cornflowerblue url("../my_icons/baseline_search_white_18dp.png") no-repeat center;
    background-size: 20px;
    border: none;
    outline: none;

    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
#button-search:active{
    background-color: #4567a4;
}

.form-searching{
    position: relative;
    height: 30px;
    display: flex;
    left: 30px;
}

.amountEmblems{
    text-align: center;
    position: relative;
    left: 180px;
}

.amountEmblems p{
    width: 300px;
    margin: 0;
}

#mainBlock-changelog{
    background-color: rgba(0, 0, 0, 0.36);
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    overflow: auto;
}

.secondBlock-changelog{
    background-color: white;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding: 30px 30px 30px 30px;
    top: 20%;
    bottom: 20%;
}

.paginationButtonLeft{
    background: url(../my_icons/baseline-keyboard_arrow_left-24px.svg) no-repeat center;
    background-size: 50px;
}

.paginationButtonRight{
    background: url(../my_icons/baseline-keyboard_arrow_right-24px.svg) no-repeat center;
    background-size: 50px;'
}

.paginationButton{
    border: none;
    outline: none;
    width:2%;
    height: 100%;
}

#listEmblems{
    width: 100%;
}

